<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.zxing.client.android">

    <application>
        <!--
        <activity android:name="net.sitecore.android.qr.QrReaderActivity"
            android:screenOrientation="landscape"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.QrReader"
            android:windowSoftInputMode="stateAlwaysHidden" />
            -->
    </application>

</manifest>
